@model AstroGearsMVC.Models.AspectInterpretation

@{
    ViewBag.Title = "AstroGears | Aspect Interpretations | Edit";
}

@section styles
{
    <link href="~/Content/themes/base/menu.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/autocomplete.min.css" rel="stylesheet" />
    <link href="~/Content/themes/smoothness/jquery-ui.smoothness.min.css" rel="stylesheet" />
}

<h2>Edit</h2>

<form>
    <div class="form-horizontal">
        <h4>Aspect Interpretation</h4>
        @Html.HiddenFor(model => model.AspectInterpretationId)
        <hr />

        <div id="status"></div>

        <div class="form-group">
            <div class="col-md-4 container">
                <label>First Object</label>
                <select id="aspectInterpretationTypeId1" class="form-control aspect-input"></select>
                <input id="selectFirstCelestialObject" type="radio" name="firstAspectSelection" checked="checked" value="celestialObject1" class="col-xs-1" />
                <div id="ui-widget"><input id="celestialObject1" class="form-control aspect-input celestial-object" /></div>
                <input id="celestialObject1Id" type="hidden" />
                <input id="celestialObject1Selected" type="hidden" />
                <div class="col-xs-12"><label>-- OR Angle --</label></div>
                <input id="selectFirstChartAngle" type="radio" name="firstAspectSelection" value="angle1" class="col-xs-1" />
                <select id="angle1Id" class="form-control aspect-input col-xs-11"></select>
            </div>
            <div class="col-md-4">
                <label>Aspect</label>
                <select id="aspectId" class="form-control aspect-input"></select>
            </div>
            <div class="col-md-4 container">
                <label class="col-xs-12">Second Object</label>
                <select id="aspectInterpretationTypeId2" class="form-control aspect-input"></select>
                <input id="selectSecondCelestialObject" type="radio" name="secondAspectSelection" checked="checked" value="celestialObject2" class="col-xs-1" />
                <div id="ui-widget col-xs-11"><input id="celestialObject2" class="form-control aspect-input celestial-object" /></div>
                <input id="celestialObject2Id" type="hidden" />
                <input id="celestialObject2Selected" type="hidden" />
                <div class="col-xs-12"><label>-- OR Angle --</label></div>
                <input id="selectSecondChartAngle" type="radio" name="secondAspectSelection" value="angle2" class="col-xs-1" />
                <select id="angle2Id" class="form-control aspect-input col-xs-11"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Interpretation</label>
            <div class="col-md-10">
                <textarea class="form-control aspect-input interpretation" id="interpretation" rows="6" cols="80"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Citation URL</label>
            <div class="col-md-10">
                <input id="citationUrl" type="text" class="form-control aspect-input citation-url" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" id="editAspectInterpretation" class="btn btn-default">Edit Aspect Interpretation</button>
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jquery-ui")

    <script src="~/Scripts/aspect-interpretations-edit.js"></script>
}
