<option value="0">Placidus</option>
<option value="1">Koch</option>
<option value="2">Equal</option>
<option value="3">Campanus</option>
<option value="4">Meridian</option>
<option value="5">Regiomontanus</option>
<option value="6">Porphyry</option>
<option value="9">Alcabitius</option>
<option value="12">Whole Signs</option>
<option value="13">Vehlow</option>
<option value="15">Krusinski-Pisa-Goelzer</option>
<option value="16">Azimuth</option>
<option value="17">Morinus</option>
<option value="18">Polich-Page</option>
<option value="19">APC</option>