<option value="---">---</option>
<option value="0">Ari</option>
<option value="1">Tau</option>
<option value="2">Gem</option>
<option value="3">Can</option>
<option value="4">Leo</option>
<option value="5">Vir</option>
<option value="6">Lib</option>
<option value="7">Sco</option>
<option value="8">Sag</option>
<option value="9">Cap</option>
<option value="10">Aqu</option>
<option value="11">Pis</option>